@model DotOrg.Web.Ozi.ViewModels.Accounts.ChangePasswordModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Поменять пароль</legend>
        @Html.TextBoxFor(x => x.OldPassword)
        @Html.TextBoxFor(x=> x.NewPassword)
        <div><label>Старый пароль <input type="password" name="oldPassword"/></label></div>
        <div><label>Новый пароль <input type="password" name="newPassword"/></label></div>
        <input type="submit" value="Сохранить" />
    </fieldset>
}