<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="data source=.;initial catalog=mixberry;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<!-- Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc) -->
		<httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" />
		<authentication mode="Forms">
			<forms loginUrl="~/admin/account/login" timeout="2880" />
		</authentication>
		<roleManager enabled="true" defaultProvider="DefaultRoleProvider">
			<providers>
				<clear /> 
				<add name="DefaultRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnection" />
			</providers>
		</roleManager>
		<membership defaultProvider="DefaultProvider">
			<providers>
				<clear />
				<add name="DefaultProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" applicationName="Mixberry" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="6" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" />
			</providers>
		</membership>
		<httpModules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp configSource="mailSettings.config" />
		</mailSettings>
	</system.net>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<staticContent>
			<remove fileExtension=".mp4" />
			<remove fileExtension=".m4v" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".webm" />
			<remove fileExtension=".ogg" />
			<remove fileExtension=".ogv" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<mimeMap fileExtension=".m4v" mimeType="video/mp4" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<httpErrors errorMode="Custom">
			<!-- Catch IIS 404 error due to paths that exist but shouldn't be served (e.g. /controllers, /global.asax) or IIS request filtering (e.g. bin, web.config, app_code, app_globalresources, app_localresources, app_webreferences, app_data, app_browsers) -->
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="-1" path="/notfound" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<resizer>
		<plugins>
			<add name="MvcRoutingShim" />
			<add name="Image404" />

			<add name="DiskCache" />
		</plugins>
		<image404 default="/styles/i/no-image.jpg" />
		<diskCache dir="~/Content/data/cache/" autoClean="false" enabled="true" asyncWrites="true" />
	</resizer>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<nlog>
		<targets>
			<target type="file" name="file" keepFileOpen="false" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:maxInnerExceptionLevel=3:innerExceptionSeparator=\n:separator=\n:format=ToString" fileName="${basedir}/logs/${date:format=yyyyMMdd}_${logger}_${level}.txt" />
			<target type="ApplicationInsightsTarget" name="aiTarget" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="file" />
			<logger name="*" minlevel="Trace" writeTo="aiTarget" />
		</rules>
		<extensions>
			<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
		</extensions>
	</nlog>
</configuration>