@model Subscriber

<p><strong>Hello!</strong></p>
<p>We are writing you <a href="@Url.ActionAbsolute(MVC.Subscription.Confirm(Model.Key))">to confirm your subscription</a> to the MIXBERRY mailing list.</p>
<p>
    Today the frontier of evolution runs through the wild world of gadgets and hi-tech consumer electronics. The explosive growth of the amount of gadgets brings to life natural selection between different kinds.
    We – the MIXBERRY Lab – are the alchemists of tomorrow. We deeply explore the origins of gadget species. And then we guide the evolution: we pick, we mix and combine possible variations of X’s & Y’s chromosomes. We aim to select, raise and provide the market with fresh species of gadgets with the most useful and promising characteristics.
    Please take a moment to “follow” us on <a href="https://instagram.com/mymixberry">Instagram</a> or to “like” us on <a href="https://www.facebook.com/MIXBERRY.Labs">Facebook</a> and join the community of MIXBERRY users.<br />
    It is amazing the images people are hashtagging with <a href="https://instagram.com/explore/tags/mymixberry">#mymixberry</a>  everyday. We look forward to seeing your photos soon.
</p>
<p>
    Thanks being part of the MIXBERRY community!
    <br/>
    MIXBERRY team
</p>
@*<p><a href="@Url.ActionAbsolute(MVC.Subscription.Confirm(Model.Key))">Ссылка для подтверждения</a>
<p><a href="@Url.ActionAbsolute(MVC.Subscription.Unsubscribe(Model.Key))">Ссылка для отписки</a>*@
