<!doctype html>
<html>
<head>
    <title>Mixberry</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" href="media/css/fotorama.css" />
    <link rel="stylesheet" media="screen" href="media/css/screen.css" />
    <link rel="stylesheet" media="screen" href="media/css/owl.carousel.css" />
    <link rel="stylesheet" media="screen" href="media/css/owl.theme.default.css" />
    <link rel="shortcut icon" href="media/img/favicon.png" />
</head>
<body>
    <div class="wrapper">
        <div class="section">
            <header class="header">
                <div class="header-logo fl">
                    <a href="/"><img src="media/img/logo.png" alt="mixberry" /></a>
                </div>
                <ul class="header-menu fl">
                    <li class="parent">
                        <a href="#">Product</a>
                        <ul class="inner-menu">
                            <div id="all-product">Все продукты</div>
                            <li>
                                <a href="#">SELFIEMANIA</a>
                                <ul>
                                    <li><a href="">Super lens</a></li>
                                    <li><a href="">Lens set</a></li>
                                    <li><a href="">Bluetooth stick</a></li>
                                    <li><a href="">Bluetooth kit</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">IN CAR</a>
                                <ul>
                                    <li><a href="">Lighting cable set</a></li>
                                    <li><a href="">Compact wall charger</a></li>
                                    <li><a href="">Wall charger multiport</a></li>
                                    <li><a href="">Car charger</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">MOBILE POWER</a>
                                <ul>
                                    <li><a href="">Smartphone car holder</a></li>
                                    <li><a href="">Smartphone air vent car holder</a></li>
                                    <li><a href="">Car charger</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">COVERS</a>
                                <ul>
                                    <li><a href="">Nano skin back cover set</a></li>
                                    <li><a href="">Rugged back covers set</a></li>
                                    <li><a href="">Streamliner magnetic bumper</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">CELEBRATION</a>
                                <ul>
                                    <li><a href="">LED Glasses</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">LIGHTMANIA</a>
                                <ul>
                                    <li><a href="">LED Bluetooth Smart Lamp</a></li>
                                    <li><a href="">LED Bluetooth Smart Lamp Set</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SOUNDMANIA</a>
                                <ul>
                                    <li><a href="">Mobile Bluetooth Speacker</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
                <div class="header-aside fl">
                    <div class="header-aside_search fl" id="search-icon">
                        <div style="display: none">
                            <div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':' ','arrow':false,'bg':'transparent','fontsize':12,'fg':'#28323b','language':'ru','logo':'rb','publicname':'Поиск по ','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2212785,'webopt':true,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'','input_placeholderColor':'#000000','input_borderColor':'#c1cfd9'}"><form action="http://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid" value="2212785" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form></div>
                            <style type="text/css">
                                .ya-page_js_yes .ya-site-form_inited_no {
                                    display: none;
                                }
                            </style>
                            <script type="text/javascript">(function (w, d, c) { var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement; if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) { e.className += ' ya-page_js_yes'; } s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8'; s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js'; h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() }) })(window, document, 'yandex_site_callbacks');</script>
                        </div>

                        <div class="search-field closed">
                            <input id="search-start-text" type="text" placeholder="поиск по сайту" />
                            <div class="search-field-icon"><input type="button" id="seacrh-start-button" /></div>
                        </div>
                    </div>
                </div>
                <div class="i-select i-select_white header__country header__country fr">
                    <span class="i-select__value">RUS</span>
                    <select name="" class="i-select__select">
                        <option value="">RUS</option>
                        <option value="">KZ</option>
                        <option value="">UK</option>
                        <option value="">BL</option>
                        <option value="">LI</option>
                        <option value="">LA</option>
                        <option value="">ES</option>
                    </select>
                </div>
            </header>
        </div>
        <div class="category-background banner">
            <img class="img-slide" src="media/img/background-category.jpg" alt=" ">
            <div class="item-banner">
                <div class="section">
                    <div class="two-cols">
                        <div class="col">
                            <div class="wrapper-h1">
                                <h1 class="h1-banner">
                                    EVOLUTION<br />
                                    ON THE<br />
                                    GO
                                </h1>
                            </div>
                            <div class="description white">
                                <p>
                                    Smartphone is a versatile genius in your pocket. Empowered<br /> by special gizmo (an additional lens or battery) his<br /> magic would exceed all expectations.<br />
                                    Are you ready to see it?
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div id="product-slaider" class="owl-carousel">
                                <div class="item">
                                    <p>SUPER LENS</p>
                                    <figure>
                                        <img src="media/img/lens.png" alt="mixberry" />
                                    </figure>
                                    <a class="master-btn white" href="">LEARN MORE</a>
                                </div>
                                <div class="item">
                                    <p>SUPER LENS</p>
                                    <figure>
                                        <img src="media/img/lens-set.png" alt="mixberry" />
                                    </figure>
                                    <a class="master-btn white" href="">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="cover">
            <div class="category-image hidden">
                <div class="field-text fl">
                    <div class="width-text">
                        <h2 class="h1-banner">
                            YOUR<br />
                            BEST<br />
                            PICTURES
                        </h2>
                    </div>
                </div>
                <figure class="field-image fr">
                    <img src="media/img/mobile-foto.jpg" alt="телефон">
                </figure>
            </div>
        </div>   
        <div class="gray">
            <div class="section">
                <div class="list-product hidden">
                    <div class="item">
                        <figure>
                            <img src="media/img/lens-set.png">
                        </figure>
                        <p class="name">LENS SET</p>
                        <div class="description">
                            <p>
                                Compatible with tablets and smartphones.
                                Macro lens, Wide Angle lens, Fisheye lens and
                                universal lens clip — excellent solution for
                                extraordinary photos!
                            </p>
                        </div>
                        <a class="master-btn blue" href="#">LEARN MORE</a>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="media/img/lens-set.png">
                        </figure>
                        <p class="name">LENS</p>
                        <div class="description">

                           <p>Compatible with tablets and smartphones.
                            Macro lens, Wide Angle lens, Fisheye lens and
                            universal lens clip — excellent solution for
                            extraordinary photos!</p>
                        </div>

                        <a class="master-btn blue" href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>        
        <div class="cover">
            <div class="category-image hidden">
                <figure class="field-image fl">
                    <img src="media/img/selfi.jpg" alt="Сэлфи">
                </figure>
                <div class="field-text fr">
                    <div class="width-text">
                        <h2 class="h1-banner">
                            YOUR<br />
                            BEST<br />
                            PICTURES
                        </h2>
                    </div>
                </div>
            </div>
        </div>      
        <div class="section">
            <div class="list-product hidden">
                <div class="item">
                    <figure>
                        <img src="media/img/product-one.jpg">
                    </figure>
                    <p class="name">Bluetooth STICK</p>
                    <div class="description">
                        <p>
                            Stick is extendable up to 945 mm
                            Bluetooth Remote control for smartphones photo apps.  Compact and robust design.
                            Compatible with compact and action
                            cameras.
                        </p>
                    </div>
                    <a class="master-btn blue" href="#">LEARN MORE</a>
                </div>
                <div class="item">
                    <figure>
                        <img src="media/img/product-two.jpg">
                    </figure>
                    <p class="name">Bluetooth kit</p>
                    <div class="description">
                        <p>
                            Selfie Stick is extandable up to 945 mm. Bluethooth Remote control for smartphones photo apps. Somposite material body. Three using modes: selfie, trypod, desktop.
                        </p>
                    </div>

                    <a class="master-btn blue" href="#">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>




    <div class="pusher"></div>
    <div class="wrapper-footer-broun">
        <div class="footer-blue">
            <div class="section">

                <form class="form footer-form">
                    <label>Get mixberry news</label>
                    <input type="email" placeholder="Enter your email">
                    <input id="img-button" type="submit" value=" ">
                </form>
            </div>
        </div>
        <div class="section">
            <footer class="footer">
                <div class="footer-up">
                    <a class="footer-width-col fl" href="">
                        <img alt="логотип" src="media/img/footer-logo.png">
                    </a>
                    <ul class="footer-menu fl">
                        <li><a href="">Product</a></li>
                        <li><a href=""> News</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                    <div class="overview-search fr">
                        <a class="item" href="">
                            <img alt="Facebook" src="media/img/f.png">
                        </a>
                        <a class="item" href="">
                            <img alt="VK" src="media/img/vk.png">
                        </a>
                        <a class="item" href="">
                            <img alt="youtube" src="media/img/youtube.png">
                        </a>
                    </div>
                </div>
                <div class="footer-down">
                    <div class="footer-width-col fl">
                        <p>©2015 Mixberry. All right reserved.</p>
                    </div>
                    <div class="footer-width-col fl">
                        <p>Privacy Policy  Terms of Use  Returns & Warranty</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&region=ru"></script>-->
    <script src="media/js/tweenmax.min.js"></script>
    <script src="media/js/jquery-1.11.1.min.js"></script>
    <script src="media/js/hammer.min.js"></script>
    <script src="media/js/fotorama.js"></script>
    <script src="media/js/jquery.nav.js"></script>
    <script src="media/js/jquery.dcmegamenu.1.2.js"></script>
    <script src="media/js/jquery.hoverIntent.minified.js"></script>
    <script src="media/js/owl.carousel.js"></script>
    <script src="media/js/owl.navigation.js"></script>
    <script src="media/js/js.js"></script>
</body>
</html>