@model Location

<div class="product-details">
    <div class="product-details_banner">
        <div class="section">
            <h1>LENS</h1>
            <span>
                Smartphone is a versatile genius in your pocket. Empowered by special gizmo (an additional lens or battery) his magic would exceed all expectations.
                Are you ready to see it?
            </span>
        </div>
    </div>

    <div class="section">
        <ul class="product-details_info">
            <li class="product-details_gallary">
                <div class="slider slider-for">
                    <div>
                        <a href="~/media/img/product-details-b-img-1.png" data-lightbox="gallery">
                            <img src="~/media/img/product-details-b-img-1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="~/media/img/product-details-b-img-1.png" data-lightbox="gallery">
                            <img src="~/media/img/product-details-b-img-1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="~/media/img/product-details-b-img-1.png" data-lightbox="gallery">
                            <img src="~/media/img/product-details-b-img-1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="~/media/img/product-details-b-img-1.png" data-lightbox="gallery">
                            <img src="~/media/img/product-details-b-img-1.png" alt="">
                        </a>
                    </div>
                </div>

                <div id="slider-nav" class="slider slider-nav">
                    <div><img src="~/media/img/product-details-thumb-1.jpg" alt=""></div>
                    <div><img src="~/media/img/product-details-thumb-2.jpg" alt=""></div>
                    <div><img src="~/media/img/product-details-thumb-3.jpg" alt=""></div>
                    <div><img src="~/media/img/product-details-thumb-4.jpg" alt=""></div>
                </div>
            </li>

            <li class="product-details_data">
                <h3 class="product-details_name">MIXBERRY MSM LS310WMF</h3>
                <div class="product-details_main-data">
                    3 Lens Set: MACRO, WIDE-ANGLE, FISHEYE
                    for Smartphones Optical Glass
                    Aluminum Black
                </div>

                <ul>
                    <li>Wide Angle lens 120 degrees</li>
                    <li>Macro lens x15 zoom </li>
                    <li>Fisheye lens 180 degrees</li>
                    <li>Universal Clip attachment</li>
                    <li>High light sensitivity</li>
                    <li>Made of Aluminum and Optical glass</li>
                    <li>Works on front and rear-facing cameras</li>
                    <li>Compatible with most Smartphones and Tablets</li>
                    <li>Lightweight and compact</li>
                    <li>Comes with Case for Lens, Carbine Hook, Cleaning Cloth</li>
                </ul>
            </li>
        </ul>

        <div id="tabs">

            <ul class="tabs-item">
                <li class="nav-one"><a href="#overview" class="current">OVERVIEW</a></li>
                <li class="nav-two"><a href="#specification">SPECIFICATION</a></li>
                <li class="nav-three"><a href="#wbox">What's In The Box</a></li>
            </ul>

            <div class="list-wrap">

                <ul id="overview">
                    <li>
                        MIXBERRY 3 Lens Set for Smartphones includes Macro lens, Wide-Angle lens, Fisheye lens, and Universal lens clip. 3 Lens Set for Smartphones gives to user freedom and premium quality of photography and video results. Lightweight and compact design works either on the rear-facing camera or the front FaceTime camera, which enables mobile photographer to shoot creative selfies or exciting panoramas. <br />
                        <span class="bold">Fisheye lens</span> creates an image that is a circular, curved, distorted view of reality. Fisheye lens is used for shooting extremely wide panoramas of landscapes and the sky, and for photographing close-up subjects such as crowds, interiors, and architecture. The images the lens produces are highly distorted, with a dynamic, abstract feel. <br />
                        <span class="bold">Macro Lens</span> offers excellent result of close-up photography. The lens reveals the tiniest of subjects. Macro lens is often used to take pictures of insects, flowers, jewelry or other objects you want “to see closer”. It is a great way to explore the miniature worlds that exist all around us <br />
                        <span class="bold">Wide-angle lens</span> is used to photograph landscapes, interiors, and unique perspectives on subjects in a limited amount of space or to create a close-to-subject perspective that gives the viewer a sense of presence in the photo.
                        The lenses need to be screwed to the Universal Clip which is included in the set. Macro lens has to be screwed to the Wide-angle lens in order to be used. <br />
                        The lenses are made of  premium-quality Optical Glass and top-grade Aluminum.
                    </li>
                </ul>

                <ul id="specification" class="hide">
                    <li>
                        MIXBERRY 3 Lens Set for Smartphones includes Macro lens, Wide-Angle lens, Fisheye lens, and Universal lens clip. 3 Lens Set for Smartphones gives to user freedom and premium quality of photography and video results. Lightweight and compact design works either on the rear-facing camera or the front FaceTime camera, which enables mobile photographer to shoot creative selfies or exciting panoramas. <br />
                        <span class="bold">Fisheye lens</span> creates an image that is a circular, curved, distorted view of reality. Fisheye lens is used for shooting extremely wide panoramas of landscapes and the sky, and for photographing close-up subjects such as crowds, interiors, and architecture. The images the lens produces are highly distorted, with a dynamic, abstract feel. <br />
                        <span class="bold">Macro Lens</span> offers excellent result of close-up photography. The lens reveals the tiniest of subjects. Macro lens is often used to take pictures of insects, flowers, jewelry or other objects you want “to see closer”. It is a great way to explore the miniature worlds that exist all around us <br />
                    </li>
                </ul>

                <ul id="wbox" class="hide">
                    <li>
                        MIXBERRY 3 Lens Set for Smartphones includes Macro lens, Wide-Angle lens, Fisheye lens, and Universal lens clip. 3 Lens Set for Smartphones gives to user freedom and premium quality of photography and video results. Lightweight and compact design works either on the rear-facing camera or the front FaceTime camera, which enables mobile photographer to shoot creative selfies or exciting panoramas. <br />
                        <span class="bold">Fisheye lens</span> creates an image that is a circular, curved, distorted view of reality. Fisheye lens is used for shooting extremely wide panoramas of landscapes and the sky, and for photographing close-up subjects such as crowds, interiors, and architecture. The images the lens produces are highly distorted, with a dynamic, abstract feel. <br />
                    </li>
                </ul>

            </div> 

        </div> <!-- END Organic Tabs -->

        <div class="see-more h3">See more </div>

        <div id="product-details-owl" class="products-list owl-carousel">
            <div class="product">
                <a name="windscreen-car-holder"></a>
                <div class="product-card front-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/a4bd12ce-9064-49ab-8e2c-8e518c5e8795.png?width=300&amp;height=380">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">WINDSCREEN CAR HOLDER</div>
                        <div class="product-description">
                            <p>
                                360 degrees rotating angle.<br>
                                Swivel bracket.&nbsp;<br>
                                Suitable for windscreen.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="product-card back-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/716864e7-fa4e-4165-9a76-4719d853febe.png?width=300&amp;height=380" alt="">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">MCS SH010-BK</div>
                        <div class="product-description">
                            <span style="line-height: 20.7999992370605px;">Special nano suction cup</span><br style="line-height: 20.7999992370605px;">
                            <span style="line-height: 20.7999992370605px;">Built-in&nbsp;lock switch to stay in your preferred angle</span><br style="line-height: 20.7999992370605px;">
                            <span style="line-height: 20.7999992370605px;">For smartphone up to 4.8” screen</span><br style="line-height: 20.7999992370605px;">
                            <span style="line-height: 20.7999992370605px;">360 degree rotating&nbsp;holder</span><br style="line-height: 20.7999992370605px;">
                            <span style="line-height: 20.7999992370605px;">Soft, over-molded grips keep your car free from scratches</span>
                        </div>
                    </div>
                </div>
            </div><div class="product">
                <a name="air-vent-holder"></a>
                <div class="product-card front-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/914a76be-9cb3-446b-b1c1-b61baef6d2f5.png?width=300&amp;height=380">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">AIR VENT HOLDER</div>
                        <div class="product-description">
                            <p>
                                Compact and simple design. Can be used in&nbsp;most car airframes.&nbsp;<br>
                                &nbsp;
                            </p>

                        </div>
                    </div>
                </div>
                <div class="product-card back-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/1485fcf6-a48d-4754-b04a-88d27f7833f5.png?width=300&amp;height=380" alt="">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">MCS SHAV-BK</div>
                        <div class="product-description">
                            Mounts into any car vent (horizontal, vertical, and angled)<br>
                            <span style="line-height: 20.7999992370605px;">For smartphone up to 4.8” screen</span><br>
                            Expandable, spring-loaded clamp holds most smartphones<br>
                            Soft, over-molded grips keep your car free from scratches
                        </div>
                    </div>
                </div>
            </div><div class="product">
                <a name="dashboard-car-holder"></a>
                <div class="product-card front-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/58bdcdc9-1dbe-4f5e-98b2-afab67d65891.png?width=300&amp;height=380">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">DASHBOARD CAR HOLDER</div>
                        <div class="product-description">
                            <p>
                                360 degrees rotating angle.<br>
                                Swivel bracket.<br>
                                Suitable for windscreen and dashboard.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="product-card back-side">
                    <div class="product-card_image">
                        <div class="product-card_image-cover">
                            <img src="/content/data/189ee1ba-916a-4577-be19-8a305373343a.png?width=300&amp;height=380" alt="">
                        </div>
                    </div>
                    <div class="product-card_description">
                        <div class="product-name">MCS SH003-BK</div>
                        <div class="product-description">
                            <p>
                                Special nano suction cup<br>
                                Built-in&nbsp;lock switch to stay in your preferred angle<br>
                                <span style="line-height: 20.7999992370605px;">For smartphone up to 4.8” screen</span><br>
                                360 degree rotating&nbsp;holder<br>
                                <span style="line-height: 20.7999992370605px;">Soft, over-molded grips keep your car free from scratches</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
